.centered{
    text-align: center;
    padding:0 0;
    margin: 0 0;
    
}
.input2{
        padding:5px;
        margin-bottom: 5px;
        border:0px;
        font: 16px/1.4em "Helvetica","Arial","sans-serif";
        background-color: #D8D8D8;
}
form#login{
    text-align: center;
    left: auto;
    right: auto;
    top:auto;
    bottom: auto;
    margin: auto auto;
    width: 400px;
    height: 400px;
}
div#bg{
    background-color: #FFFFFF;
    width: 981px;  
    height:695px;
}
/*-----------------------login--------------------------------------*/
#loginform{
    margin-top:80px;
    width: 630px;
}
#loginform input[type=text], input[type=password]{
    width:620px;
    padding:5px;
    margin-bottom: 5px;
    border:0px;
    font: 16px/1.4em "Helvetica","Arial","sans-serif";
    background-color: #D8D8D8;
}
legend#loginlegend{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size:25px;
}
legend#log_back{
    color: #FF0000;
    text-align: center;
    width: 100%;
    height:10px;
    margin-bottom: 10px;
}
/*-----------------------categories tree----------------------------*/
table#cat_tree{
    width:645px;
    position: absolute;
	overflow: hidden;
	display: inline-block;
    padding:0px 0px;
    margin: 0px;
}
table#cat_tree td.cat_open {
    list-style-type: none;
	white-space: normal;
	text-align: left;
    padding-left: 12px;
    height: 25px;
    line-height: 25px;
    width:625px;
    background-color:#D8D8D8;
    color: #fff;
    margin-right:20px;
    cursor: pointer;
    margin-top: 5px;
}
table#cat_tree td.cat_hidden{
    display:none;
    height:auto;
    background-color:#ffffff;
    color: #000000;
    border: solid 1px #D8D8D8;
    border-left: solid 1px #D8D8D8;
}
table#cat_tree td.cat_open:hover{
    color: #fff ;
    background-color:#A5A5A5;
}
#cat_home{
    padding:10px 10px;
}
/*------------------home*-------------------------------------------*/
div.ahome_s_cont{
    float:      left;
    display:    inline-block;
    width:      50px;
    height:     50px;
    margin:     auto auto;
    cursor:     pointer;
    padding:    2px 2px;
}
div#addnewhomepic{
    background:#FFFFFF url('img/add.png') no-repeat center;
    background-size: 50px;
}
div.aimg_cont{
    z-index:    1;
    position:   absolute;
    width:      50px;
    height:     50px;
    text-align: center;
    vertical-align: middle
}
img.ad_small2{
    max-width: 50px;
    max-height:50px;
    height:auto !important;
    height:50px;
    width:auto !important;
    width:50px;
}
div.ahome_del{
    z-index:    2;
    position:   absolute;
    width:      50px;
    height:     50px;
    opacity:    0.7;
    background-color: #000;
    cursor:     pointer;
    display:    none;
}
/*----------------------------------------------albums*/
div#alb_options_cont{
    width: 330px;
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
}
div#addphoto{
        display: table-cell;
        float: left;
        width: 137px;
        height: 116px;
        margin: 10px;
        padding: 0px;
        vertical-align: middle;
        text-align: center;
        background-image: url('img/add.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70px;
        cursor: pointer;
}
div#albumscont{
    width:630px;
    margin:auto auto;
    max-height: 515px;
    height:auto !important;
    height:515px;
}
div#apctextcont{
    top:0px;
    float:right;
    margin-right: 5px;
    width:300px;
    height:100px;
}
img.alb_small{
    max-width: 70px;
    max-height:70px;
    height:auto !important;
    height:70px;
    width:auto !important;
    width:70px;
    vertical-align: middle;
    
}
fieldset.descs{
    border: 0px;
    padding: 0px 0px;
    margin: 0px 0px;
}
input.albname{
    width: 300px;
}
#albumbar2{
    margin:5px 0px;
    display: block;
    text-align:center;
    
}
ul#adalbummenu {
	overflow: hidden;
	display: inline-block;
    text-align: center;
    margin:0px;
    padding: 0px;
}

.ie6 ul#adalbummenu {
   display:inline;
}

* html ul#adalbummenu { margin: 0 auto; width: 530px; } /* IE fix */

ul#adalbummenu li {
    list-style-type: none;
	white-space: normal;
	text-align: center;
    line-height: 20px;
    font-size: 13px;
    padding:0px 3px;
    height: 20px;
	float: left;
    background-color:#000;
    color: #fff;
    margin-right:5px;
    margin-bottom:5px;
    cursor: pointer;
}
ul#adalbummenu li.current{
    color: #000 ;
    background-color:#A5A5A5;
}
/*----------------------------------------------about*/
div.adabouttext{
    float: left;
    padding-left: 5px;
    width: 300px;
    text-align: !important;
}
img#adabpic{
    max-height: 515px;
    max-width: 290px;
    height:auto !important;
    height:515px;
    width:auto !important;
    width:290px;
    margin: auto auto; 
}
div.adaboutpic{
    float:left;
    width: 290px;
}
/*-----------------------------------------------------------contact*----*/
table#conttable{
    width: 80%;
    text-align: center;
}
table#conttable td{
    text-align: left;
}
td.feedb{
    width:  16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
td.done{
    background-image: url('../css/img/done.png');
}
td.save{
    background-image: url('../css/img/save.png');
    cursor: pointer;
}